<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DayZ_Server_Manager.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DayZ_Server_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DayZ_Server_Manager.Properties.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
  <userSettings>
    <DayZ_Server_Manager.Properties.Config>
      <setting name="hostname" serializeAs="String">
        <value>Dayz Server</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="adminPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="enableWhitelist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="maxPlayers" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="forceSameBuild" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="disableVoN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="vonCodecQuality" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="disable3rdPerson" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disableCrosshair" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="serverTime" serializeAs="String">
        <value>SystemTime</value>
      </setting>
      <setting name="serverTimeAcceleration" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="serverNightTimeAcceleration" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="serverTimePersistent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="loginQueueConcurrentPlayers" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="loginQueueMaxPlayers" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="instanceId" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="storeHouseStateDisabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="storageAutoFix" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="respawnTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="motd" serializeAs="String">
        <value>"Separate messages","Using \" and commas"</value>
      </setting>
      <setting name="motdInterval" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="timeStampFormat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="logAverageFps" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="logFile" serializeAs="String">
        <value>server_console.log</value>
      </setting>
      <setting name="enableDebugMonitor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="allowFilePatching" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="multithreadedReplication" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="defaultVisibility" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="defaultObjectViewDistance" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="lightingConfig" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="template" serializeAs="String">
        <value>dayzOffline.chernarusplus</value>
      </setting>
    </DayZ_Server_Manager.Properties.Config>
    <DayZ_Server_Manager.Properties.Settings>
      <setting name="DIR_Server" serializeAs="String">
        <value>C:\Program Files (x86)\Steam\steamapps\common\DayZServer</value>
      </setting>
      <setting name="DIR_Profile" serializeAs="String">
        <value>C:\Users\athum\AppData\Local\DayZ</value>
      </setting>
      <setting name="DIR_Workshop" serializeAs="String">
        <value>C:\Program Files (x86)\Steam\steamapps\common\DayZ\!Workshop</value>
      </setting>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
    </DayZ_Server_Manager.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DayZ_Server_Manager.Properties.Config>
      <setting name="verifySignatures" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="guaranteedUpdates" serializeAs="String">
        <value>True</value>
      </setting>
    </DayZ_Server_Manager.Properties.Config>
  </applicationSettings>
</configuration>